<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="PetPlanet.My.MySettings.PetShopDBConnectionString" connectionString="Data Source=EMRE;Initial Catalog=PetShopDB;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="PetPlanet.My.MySettings.PetShopDB" connectionString="Data Source=.;Initial Catalog=PetShopDB;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Bunifu_UI_v1.5.3" publicKeyToken="null" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.3.0" newVersion="1.5.3.0" />
				<publisherPolicy apply="no" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
